<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_HelloWorld::helloworld" title="Hello World" module="Magenest_HelloWorld" sortOrder="51" resource="Magenest_HelloWorld::helloworld"/>
        <add id="Magenest_HelloWorld::post" title="Manage Posts" module="Magenest_HelloWorld" sortOrder="10" action="helloworld/post" resource="Magenest_HelloWorld::post" parent="Magenest_HelloWorld::helloworld"/>
        <add id="Magenest_HelloWorld::hello_configuration" title="Configuration" module="Magenest_HelloWorld" sortOrder="99" parent="Magenest_HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Magenest_HelloWorld::helloworld_configuration"/>
    </menu>
</config>
